<config>
    <modules>
        <CheckoutApi_ChargePayment>
            <version>2.3.6</version>
        </CheckoutApi_ChargePayment>
    </modules>
    <global>
        <models>
            <chargepayment>
                <class>CheckoutApi_ChargePayment_Model</class>
                <resourceModel>chargepayment_resource</resourceModel>
            </chargepayment>
            <chargepayment_resource>
                <class>CheckoutApi_ChargePayment_Model_Resource</class>
                <entities>
                    <customercard>
                        <table>chargepayment_cards</table>
                    </customercard>
                </entities>
            </chargepayment_resource>
        </models>
        <helpers>
            <chargepayment>
                <class>CheckoutApi_ChargePayment_Helper</class>
            </chargepayment>
        </helpers>
        <blocks>
            <chargepayment>
                <class>CheckoutApi_ChargePayment_Block</class>
            </chargepayment>
        </blocks>
        <resources>
            <chargepayment_setup>
                <setup>
                    <module>CheckoutApi_ChargePayment</module>
                </setup>
            </chargepayment_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <checkout_api_card_id>
                    <to_order_payment>*</to_order_payment>
                </checkout_api_card_id>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <checkout_api_card_id>
                    <to_quote_payment>*</to_quote_payment>
                </checkout_api_card_id>
            </sales_convert_order_payment>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <chargepayment>
                    <file>chargepayment.xml</file>
                </chargepayment>
            </updates>
        </layout>
        <routers>
            <chargepayment>
                <use>standard</use>
                <args>
                    <module>CheckoutApi_ChargePayment</module>
                    <frontName>chargepayment</frontName>
                </args>
            </chargepayment>
        </routers>
        <events>
            <sales_order_save_after>
                <observers>
                    <creditcard_save_order_after_submit>
                        <class>chargepayment/observer</class>
                        <method>saveOrderAfterSubmit</method>
                    </creditcard_save_order_after_submit>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CheckoutApi_ChargePayment before="Mage_Adminhtml">CheckoutApi_ChargePayment_Adminhtml</CheckoutApi_ChargePayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <checkoutapicard>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <title>Credit Card (Checkout.com)</title>
                <model>chargepayment/creditCard</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <mode>sandbox</mode>
                <current_currency>0</current_currency>
                <payment_action>authorize</payment_action>
                <autoCapTime>0</autoCapTime>
                <saveCard>0</saveCard>
            </checkoutapicard>
            <checkoutapijs>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <title>Credit Card (Checkout.com)</title>
                <model>chargepayment/creditCardJs</model>
                <current_currency>0</current_currency>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <mode>sandbox</mode>
                <is_3d>1</is_3d>
                <timeout>60</timeout>
                <theme_color>#00b660</theme_color>
                <widget_color>#333</widget_color>
                <form_button_color>#00b660</form_button_color>
                <form_button_color_label>#ffffff</form_button_color_label>
                <overlay_shade>dark</overlay_shade>
                <overlay_opacity>0.8</overlay_opacity>
                <show_mobile_icons>0</show_mobile_icons>
                <widget_icon_size>small</widget_icon_size>
                <payment_mode>mixed</payment_mode>
                <payment_action>authorize</payment_action>
                <autoCapTime>0</autoCapTime>
                <saveCard>0</saveCard>
            </checkoutapijs>
            <checkoutapikit>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <title>Checkout.com Credit Card (Checkout Kit)</title>
                <model>chargepayment/creditCardKit</model>
                <current_currency>0</current_currency>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <mode>sandbox</mode>
                <is_3d>1</is_3d>
                <timeout>60</timeout>
                <payment_action>authorize</payment_action>
                <autoCapTime>0</autoCapTime>
                <saveCard>0</saveCard>
            </checkoutapikit>
            <checkoutapihosted>
                <active>0</active>
                <title>Checkout.com (Hosted JS Solution)</title>
                <model>chargepayment/Hosted</model>
                <current_currency>0</current_currency>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <mode>sandbox</mode>
                <is_3d>1</is_3d>
                <payment_action>authorize</payment_action>
                <autoCapTime>0</autoCapTime>
                <theme_color>#00b660</theme_color>
                <saveCard>0</saveCard>
            </checkoutapihosted>
        </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <chargepayment>
                    <file>chargepayment.xml</file>
                </chargepayment>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_sales_order_voidPayment>
                <observers>
                    <chargepayment>
                        <class>chargepayment/observer</class>
                        <method>setOrderStatusForVoid</method>
                    </chargepayment>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_voidPayment>
        </events>
    </adminhtml>
</config>
