<?xml version="1.0"?>
<config>
	<modules>
		<Tm_ImageZoom>
			<version>0.1.0</version>		
		</Tm_ImageZoom>
	</modules>
	<frontend>
		<layout>
			<updates>
				<imagezoom>
					<file>tm_imagezoom.xml</file>
				</imagezoom>
			</updates>
		</layout>
	</frontend>
	<global>		
		<models>
			<imagezoom>
				<class>Tm_ImageZoom_Model</class>
			</imagezoom>
		</models>
		<helpers>
			<imagezoom>
				<class>Tm_ImageZoom_Helper</class>
			</imagezoom>
		</helpers>	
		<blocks>
            <imagezoom>
                <class>Tm_ImageZoom_Block</class>
            </imagezoom>
        </blocks>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <imagezoom translate="title" module="imagezoom">
                                            <title>ImageZoom</title>
                                        </imagezoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
		<imagezoom>
			<general>
				<active>0</active>
				<zoom_variant>default</zoom_variant>
				
				<unite_skin>default</unite_skin>
				<unite_strippanel_enable>1</unite_strippanel_enable>
				<unite_panel_position>left</unite_panel_position>
				<unite_thumb_width>100</unite_thumb_width>
				<unite_thumb_height>100</unite_thumb_height>
				<unite_arrows>1</unite_arrows>
				<unite_fullscreen>1</unite_fullscreen>
				<unite_fullwindow>1</unite_fullwindow>
				<unite_zoom_panel>1</unite_zoom_panel>
				<unite_play>1</unite_play>
				<unite_play_interval>5000</unite_play_interval>
				<unite_pause_on_mouseover>0</unite_pause_on_mouseover>
				<unite_controls_always_on>1</unite_controls_always_on>
			</general>
		</imagezoom>
	</default>
</config>
