<?xml version="1.0"?>
<config>
	<modules>
		<Tm_ProductListGallery>
			<version>0.1.0</version>		
		</Tm_ProductListGallery>
	</modules>
	<frontend>
		<layout>
			<updates>
				<productlistgallery>
					<file>tm_productlistgallery.xml</file>
				</productlistgallery>
			</updates>
		</layout>		
	</frontend>	
	<global>	
		<models>
			<productlistgallery>
				<class>Tm_ProductListGallery_Model</class>
			</productlistgallery>
		</models>
		<helpers>
			<productlistgallery>
				<class>Tm_ProductListGallery_Helper</class>
			</productlistgallery>
		</helpers>		
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
	                <title>Allow everything</title>
	            </all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productlistgallery translate="title" module="productlistgallery">
											<title>Product List Gallery Section</title>
										</productlistgallery>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<productlistgallery>
			<grid>
				<image_width>210</image_width>
				<image_height>210</image_height>
				<thumb_size_w>63</thumb_size_w>
				<thumb_size_h>63</thumb_size_h>
			</grid>
			<list>
				<image_width>228</image_width>
				<image_height>228</image_height>
				<thumb_size_w>63</thumb_size_w>
				<thumb_size_h>63</thumb_size_h>
			</list>
			<home_grid>
				<image_width>228</image_width>
				<image_height>228</image_height>
				<thumb_size_w>63</thumb_size_w>
				<thumb_size_h>63</thumb_size_h>
			</home_grid>
			<home_list>
				<image_width>228</image_width>
				<image_height>228</image_height>
				<thumb_size_w>63</thumb_size_w>
				<thumb_size_h>63</thumb_size_h>
			</home_list>
		</productlistgallery>
	</default>
</config>
