<?xml version="1.0"?>
<config>
	<modules>
		<CapacityWebSolutions_Bestseller>
            <version>2.1.1</version>
        </CapacityWebSolutions_Bestseller>
    </modules>
	<global>
		<models>
            <bestseller>
                <class>CapacityWebSolutions_Bestseller_Model</class>
                <resourceModel>bestseller_mysql4</resourceModel>
            </bestseller>
            <bestseller_mysql4>
                <class>CapacityWebSolutions_Bestseller_Model_Mysql4</class>
                <entities>
					<bestseller>
                        <table>bestseller</table>
                    </bestseller>
			    </entities>
            </bestseller_mysql4>
	    </models>
		<resources>
            <bestseller_setup>
                <setup>
                    <module>CapacityWebSolutions_Bestseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
	  	<blocks>
            <bestseller>
                <class>CapacityWebSolutions_Bestseller_Block</class>
            </bestseller>
        </blocks>
		<helpers>
            <bestseller>
                <class>CapacityWebSolutions_Bestseller_Helper</class>
            </bestseller>
        </helpers>
    </global>
	<frontend>
        <routers>
            <bestseller>
                <use>standard</use>
                <args>
                    <module>CapacityWebSolutions_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </bestseller>
        </routers>
	</frontend>
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<bestseller after="Mage_Adminhtml">CapacityWebSolutions_Bestseller_Adminhtml</bestseller>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<bestseller>
					<file>bestseller.xml</file>
				</bestseller>
			</updates>
		</layout>
	</adminhtml>
    <default> <!-- Default text value set from admin-->
		<bestseller>
			<general>  
				<enabled>1</enabled>		
				<display_heading>1</display_heading> 
				<heading>BESTSELLER PRODUCTS</heading> 
				<number_of_items>6</number_of_items>
				<number_of_items_per_row>3</number_of_items_per_row>
				<thumbnail_height>135</thumbnail_height>
				<thumbnail_width>135</thumbnail_width>
				<time_period>60</time_period>
				<products_price>1</products_price>
				<review>1</review>
				<add_to_cart>1</add_to_cart>
				<active>1</active>
				<add_to_compare>1</add_to_compare>
				<order_status>all</order_status>
				<choose_products>1</choose_products>
				<bundle_products>1</bundle_products>
			</general>      
		</bestseller>
	</default>	
</config>
