<?xml version="1.0"?>
<config>
	<modules>
		<Tm_GoogleMap>
			<version>0.1.0</version>		
		</Tm_GoogleMap>
	</modules>
	<frontend>
		<layout>
			<updates>
				<googlemap>
					<file>tm_googlemap.xml</file>
				</googlemap>
			</updates>
		</layout>		
	</frontend>	
	<global>
		<models>
			<googlemap>
				<class>Tm_GoogleMap_Model</class>
			</googlemap>
		</models>
		<helpers>
			<googlemap>
				<class>Tm_GoogleMap_Helper</class>
			</googlemap>
		</helpers>
		<blocks>
            <tm_googlemap>
                <class>Tm_GoogleMap_Block</class>
            </tm_googlemap>
        </blocks>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googlemap translate="title" module="googlemap">
                                            <title>Googlemap</title>
                                            <sort_order>200</sort_order>
                                        </googlemap>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
		<googlemap>
			<embed>
				<active>0</active>
				<coordinates>40.5770119,-73.969366</coordinates>
				<zoom>8</zoom>
				<type>Roadmap</type>
				<width>100%</width>
				<height>200px</height>
				<scrollwheel>false</scrollwheel>
				<ui>false</ui>
				<draggable>true</draggable>
			</embed>
			<contacts>
				<active>1</active>
				<coordinates>40.5770119,-73.969366</coordinates>
				<zoom>8</zoom>
				<type>Roadmap</type>
				<width>100%</width>
				<height>440px</height>
				<scrollwheel>false</scrollwheel>
				<ui>false</ui>
				<draggable>true</draggable>
			</contacts>
		</googlemap>
	</default>
</config>

