<?xml version="1.0"?>
<config>
	<modules>
		<CapacityWebSolutions_Newproducts>
            <version>1.0.0</version>
        </CapacityWebSolutions_Newproducts>
    </modules>
	<global>
		<models>
            <newproducts>
                <class>CapacityWebSolutions_Newproducts_Model</class>
                <resourceModel>newproducts_mysql4</resourceModel>
            </newproducts>
            <newproducts_mysql4>
                <class>CapacityWebSolutions_Newproducts_Model_Mysql4</class>
                <entities>
					<newproducts>
                        <table>cws_newproducts</table>
                    </newproducts>
			    </entities>
            </newproducts_mysql4>
	    </models>
		<resources>
            <newproducts_setup>
                <setup>
                    <module>CapacityWebSolutions_Newproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproducts_setup>
            <newproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproducts_write>
            <newproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproducts_read>
        </resources>
	  	<blocks>
            <newproducts>
                <class>CapacityWebSolutions_Newproducts_Block</class>
            </newproducts>
        </blocks>
		<helpers>
            <newproducts>
                <class>CapacityWebSolutions_Newproducts_Helper</class>
            </newproducts>
        </helpers>
    </global>
	<frontend>
        <routers>
            <newproducts>
                <use>standard</use>
                <args>
                    <module>CapacityWebSolutions_Newproducts</module>
                    <frontName>newproducts</frontName>
                </args>
            </newproducts>
        </routers>
		<layout>
			<updates>
				<newproducts>
					<file>newproducts.xml</file>
				</newproducts>
			</updates>
		</layout>
	</frontend>
	
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<newproducts before="Mage_Adminhtml">CapacityWebSolutions_Newproducts_Adminhtml</newproducts>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	
    <adminhtml>
		<layout>
			<updates>
				<newproducts>
					<file>newproducts.xml</file>
				</newproducts>
			</updates>
		</layout>
	</adminhtml>
    <default> <!-- Default text value set from admin-->
		<newproducts>
			<general>  
				<enabled>1</enabled>
				<isresponsive>1</isresponsive>
				<display_heading>1</display_heading>
				<heading>NEW PRODUCTS</heading>
				<choose_products>1</choose_products>
				<choose_type>1</choose_type>
				<new_days>10</new_days>
				<display_by>1</display_by>
				<sort_by>name</sort_by>
				<sort_order>asc</sort_order>
				<products_price>1</products_price>
				<review>0</review>
				<short_desc>0</short_desc>
				<desc_limit>10</desc_limit>
				<add_to_cart>1</add_to_cart>
				<add_to_wishlist>0</add_to_wishlist>
				<add_to_compare>0</add_to_compare>
				<out_of_stock>0</out_of_stock>
			</general>
			<template>
				<select_template>1</select_template>
				<number_of_items>10</number_of_items>
				<show_pager>0</show_pager>
				<products_per_page>5</products_per_page>
				<thumbnail_height>135</thumbnail_height>
				<thumbnail_width>135</thumbnail_width>
			</template>
		</newproducts>
	</default>	
</config>
