<?xml version="1.0"?>
<!--
/**
 * Adyen Payment Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Adyen
 * @package	Adyen_Payment
 * @copyright	Copyright (c) 2011 Adyen (http://www.adyen.com)
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * @category   Payment Gateway
 * @package    Adyen_Payment
 * @author     Adyen
 * @property   Adyen B.V
 * @copyright  Copyright (c) 2014 Adyen BV (http://www.adyen.com)
 */
-->
<config>
    <modules>
        <Adyen_Payment>
            <version>2.10.0</version>
        </Adyen_Payment>
    </modules>
    <global>
        <models>
            <adyen>
                <class>Adyen_Payment_Model</class>
                <resourceModel>adyen_resource</resourceModel>
            </adyen>
            <adyen_resource>
                <class>Adyen_Payment_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>adyen_api_debug</table>
                    </api_debug>
                    <event>
                        <table>adyen_event_data</table>
                    </event>
                    <event_queue>
                        <table>adyen_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>adyen_order_payment</table>
                    </order_payment>
                </entities>
            </adyen_resource>
            <sales>
                <rewrite>
                    <billing_agreement>Adyen_Payment_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Adyen_Payment_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Adyen_Payment_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>
        </models>
        <helpers>
            <adyen>
                <class>Adyen_Payment_Helper</class>
            </adyen>
            <payment>
                <rewrite>
                    <data>Adyen_Payment_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <adyen_setup>
                <setup>
                    <module>Adyen_Payment</module>
                    <class>Adyen_Payment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adyen_setup>
            <adyen_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adyen_write>
            <adyen_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adyen_read>
        </resources>
        <blocks>
            <adyen>
                <class>Adyen_Payment_Block</class>
            </adyen>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Adyen_Payment_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales>
        </blocks>
        <payment>
            <groups>
                <adyen>Adyen</adyen>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_item>
                <adyen_pre_order>
                    <to_order_item>*</to_order_item>
                </adyen_pre_order>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <adyen_pre_order>
                    <to_quote_item>*</to_quote_item>
                </adyen_pre_order>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <adyen_pre_order />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <adyen_payment_sales_quote_item_set_product>
                        <class>Adyen_Payment_Model_Observers_Quote</class>
                        <method>salesQuoteItemSetProduct</method>
                    </adyen_payment_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_capture>
                <observers>
                    <adyen_payment_capture>
                        <class>adyen/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </adyen_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch_checkout>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_checkout>
            <controller_action_predispatch_firecheckout>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_firecheckout>
            <controller_action_predispatch_onestepcheckout>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_onestepcheckout>
            <controller_action_predispatch_opc>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_opc>
            <controller_action_predispatch_streamcheckout>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_streamcheckout>
            <controller_action_predispatch_gomage_checkout>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_gomage_checkout>
            <sales_order_shipment_save_before>
                <observers>
                    <adyen_payment_capture_invoice_on_shipment>
                        <class>adyen/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </adyen_payment_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </global>

    <frontend>
        <secure_url>
            <adyen_process>/adyen/process</adyen_process>
        </secure_url>
        <routers>
            <adyen>
                <use>standard</use>
                <args>
                    <module>Adyen_Payment</module>
                    <frontName>adyen</frontName>
                </args>
            </adyen>
        </routers>
        <translate>
            <modules>
                <adyen>
                    <files>
                        <default>Adyen_Payment.csv</default>
                    </files>
                </adyen>
            </modules>
        </translate>
        <layout>
            <updates>
                <adyen>
                    <file>adyen.xml</file>
                </adyen>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adyen before="Mage_Adminhtml">Adyen_Payment_Adminhtml</adyen>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <adyen>
                    <file>adyen.xml</file>
                </adyen>
            </updates>
        </layout>
        <translate>
            <modules>
                <Adyen_Payment>
                    <files>
                        <default>Adyen_Payment.csv</default>
                    </files>
                </Adyen_Payment>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <adyen_payment_hpp>
                        <class>adyen/observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_hpp>
                    <adyen_payment_billing_agreement>
                        <class>adyen/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </adyen_payment_billing_agreement>
                </observers>
            </controller_action_predispatch_adminhtml>
            <sales_order_payment_cancel>
                <observers>
                    <adyen_payment>
                        <class>adyen/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </adyen_payment>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </adminhtml>
    <default>
        <payment>
            <adyen_abstract>
                <active>0</active>
                <model>adyen/adyen_dummy</model>
                <currency>EUR</currency>
                <secret_wordt></secret_wordt>
                <secret_wordp></secret_wordp>
                <delivery_days>14</delivery_days>
                <ws_username_test></ws_username_test>
                <ws_password_test></ws_password_test>
                <ws_username_live></ws_username_live>
                <ws_password_live></ws_password_live>
                <demoMode>Y</demoMode>
                <debug>1</debug>
                <uncancelorder>1</uncancelorder>
                <unholdorder>0</unholdorder>
                <autorefundoncancel>1</autorefundoncancel>
                <order_status>pending</order_status>
                <payment_authorized>processing</payment_authorized>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <capture_mode>auto</capture_mode>
                <create_pending_invoice>0</create_pending_invoice>
                <recurringtypes>ONECLICK</recurringtypes>
                <auto_capture_openinvoice>0</auto_capture_openinvoice>
                <paypal_capture_mode>auto</paypal_capture_mode>
                <send_email_bank_sepa_on_pending>0</send_email_bank_sepa_on_pending>
                <title_renderer>title_image</title_renderer>
                <ignore_refund_notification>0</ignore_refund_notification>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
            </adyen_abstract>
            <adyen_hpp translate="title" module="adyen">
                <currency>EUR</currency>
                <model>adyen/adyen_hpp</model>
                <group>adyen</group>
                <title>Adyen HPP</title>
                <secret_wordt></secret_wordt>
                <secret_wordp></secret_wordp>
                <delivery_days>14</delivery_days>
                <ws_username_test></ws_username_test>
                <ws_password_test></ws_password_test>
                <ws_username_live></ws_username_live>
                <ws_password_live></ws_password_live>
                <allowspecific>0</allowspecific>
                <disable_hpptypes>0</disable_hpptypes>
                <sort_order>30</sort_order>
                <return_url_in_request>1</return_url_in_request>
            </adyen_hpp>
            <adyen_ideal translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_ideal</model>
                <group>adyen</group>
                <title>Adyen iDEAL</title>
                <show_ideal_logos>0</show_ideal_logos>
                <autoselect_stored_ideal_bank>1</autoselect_stored_ideal_bank>
                <sort_order>35</sort_order>
                <allowspecific>0</allowspecific>
            </adyen_ideal>
            <adyen_pos translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_pos</model>
                <group>adyen</group>
                <title>PIN</title>
                <recurringtypes>ONECLICK</recurringtypes>
                <add_receipt_order_lines>1</add_receipt_order_lines>
                <enable_scanner>0</enable_scanner>
                <submit_scanner>0</submit_scanner>
                <express_checkout>0</express_checkout>
                <express_checkout_kiosk_mode>0</express_checkout_kiosk_mode>
                <express_checkout_recurring>1</express_checkout_recurring>
                <create_shipment>0</create_shipment>
                <allowspecific>0</allowspecific>
                <sort_order>80</sort_order>
            </adyen_pos>
            <adyen_cash>
                <active>0</active>
                <model>adyen/adyen_cash</model>
                <group>adyen</group>
                <title>Cash</title>
                <sort_order>90</sort_order>
                <create_shipment>1</create_shipment>
                <visible_type>both</visible_type>
                <cash_express_checkout>0</cash_express_checkout>
                <cash_drawer>0</cash_drawer>
                <cash_drawer_printer_ip></cash_drawer_printer_ip>
                <cash_drawer_printer_port>8008</cash_drawer_printer_port>
                <cash_drawer_printer_device_id>local_printer</cash_drawer_printer_device_id>
                <ip_filter>0</ip_filter>
            </adyen_cash>
            <adyen_openinvoice translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_openinvoice</model>
                <group>adyen</group>
                <title>Adyen Open Invoice</title>
                <openinvoicetypes>openinvoice</openinvoicetypes>
                <gender_show>0</gender_show>
                <dob_show>0</dob_show>
                <telephone_show>0</telephone_show>
                <shoppertype>1</shoppertype>
                <different_address_disable>0</different_address_disable>
                <ratepay_id>oj9GsQ</ratepay_id>
                <sort_order>40</sort_order>
            </adyen_openinvoice>
            <adyen_cc translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_cc</model>
                <group>adyen</group>
                <title>Adyen Credit Card</title>
                <debug>0</debug>
                <enable_installments>0</enable_installments>
                <cse_enabled>1</cse_enabled>
                <cse_public_key></cse_public_key>
                <visible_type>both</visible_type>
                <enable_moto>0</enable_moto>
                <trxuser_password>0</trxuser_password>
                <adminaction_password>5cfgRT34xsdedtFLdfHxj7tfwx24fe</adminaction_password>
                <wsdl>https://pal-test.adyen.com/pal/Payment.wsdl</wsdl>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
                <sort_order>20</sort_order>
            </adyen_cc>
            <adyen_oneclick translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_oneclick</model>
                <group>adyen</group>
                <title>Adyen Stored Payment Methods</title>
                <sort_order>1</sort_order>
                <recurring_payment_type>ONECLICK</recurring_payment_type>
            </adyen_oneclick>
            <adyen_boleto translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_boleto</model>
                <group>adyen</group>
                <visible_type>both</visible_type>
                <title>Adyen Boleto</title>
                <delivery_days>5</delivery_days>
                <use_taxvat>0</use_taxvat>
                <sort_order>70</sort_order>
            </adyen_boleto>
            <adyen_sepa translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_sepa</model>
                <group>adyen</group>
                <visible_type>both</visible_type>
                <title>Adyen SEPA</title>
                <sort_order>60</sort_order>
                <validate_iban>0</validate_iban>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
                <flow>sales</flow>
            </adyen_sepa>
            <adyen_pay_by_mail>
                <active>0</active>
                <model>adyen/adyen_payByMail</model>
                <group>adyen</group>
                <visible_type>backend</visible_type>
                <title>Adyen Pay By Mail</title>
                <session_validity>3</session_validity>
                <sort_order>70</sort_order>
            </adyen_pay_by_mail>
            <adyen_apple_pay translate="title" module="adyen">
                <active>0</active>
                <model>adyen/adyen_applePay</model>
                <group>adyen</group>
                <title>Adyen Apple Pay</title>
                <sort_order>80</sort_order>
                <shipping_type>shipping</shipping_type>
                <allow_quest_checkout>1</allow_quest_checkout>
                <change_address>1</change_address>
                <show_in_payment_step_checkout>1</show_in_payment_step_checkout>
                <show_outside_of_checkout>1</show_outside_of_checkout>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
            </adyen_apple_pay>
            <adyen_multibanco>
                <model>adyen/adyen_multibanco</model>
                <group>adyen</group>
                <active>0</active>
                <title>Adyen Multibanco</title>
                <sort_order>100</sort_order>
                <visible_type>both</visible_type>
            </adyen_multibanco>
        </payment>
        <adyen>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>
                </cctypes>
                <boletotypes>
                    <boletobancario_hsbc>
                        <code>boletobancario_hsbc</code>
                        <name>boletobancario_hsbc</name>
                        <order>0</order>
                    </boletobancario_hsbc>
                    <boletobancario_itau>
                        <code>boletobancario_itau</code>
                        <name>boletobancario_itau</name>
                        <order>0</order>
                    </boletobancario_itau>
                    <boletobancario_santander>
                        <code>boletobancario_santander</code>
                        <name>boletobancario_santander</name>
                        <order>0</order>
                    </boletobancario_santander>
                    <boletobancario_bradesco>
                        <code>boletobancario_bradesco</code>
                        <name>boletobancario_bradesco</name>
                        <order>0</order>
                    </boletobancario_bradesco>
                    <boletobancario_bancodobrasil>
                        <code>boletobancario_bancodobrasil</code>
                        <name>boletobancario_bancodobrasil</name>
                        <order>0</order>
                    </boletobancario_bancodobrasil>
                </boletotypes>
                <openinvoicetypes>
                    <afterpay>
                        <code>afterpay_default</code>
                        <name>AfterPay Netherlands</name>
                        <order>10</order>
                    </afterpay>
                    <klarna>
                        <code>klarna</code>
                        <name>Klarna</name>
                        <order>20</order>
                    </klarna>
                    <ratepay>
                        <code>ratepay</code>
                        <name>RatePAY</name>
                        <order>30</order>
                    </ratepay>
                </openinvoicetypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </adyen>
    </default>
    <crontab>
        <jobs>
            <adyen_payment_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adyen/cronjob::updateNotificationQueue</model>
                </run>
            </adyen_payment_process_notification_queue>
        </jobs>
    </crontab>
</config>
