<?xml version="1.0"?>

<config>
	<modules>
		<Payssion_Payment>
			<version>1.0.0</version>
		</Payssion_Payment>
	</modules>

	<global>

		<models>
			<payssion>
				<class>Payssion_Payment_Model</class>
			</payssion>
		</models>

		<blocks>
			<payssion>
				<class>Payssion_Payment_Block</class>
			</payssion>
		</blocks>

		<resources>
			<payssion_setup>
				<setup>
					<module>Payssion_Payment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</payssion_setup>
			<payssion_write>
				<connection>
					<use>core_write</use>
				</connection>
			</payssion_write>
			<payssion_read>
				<connection>
					<use>core_read</use>
				</connection>
			</payssion_read>
		</resources>
		<helpers>
			<payssion>
				<class>Payssion_Payment_Helper</class>
			</payssion>
		</helpers>
	</global>


	<frontend>
		<secure_url>
			<payssion_redirect>/payssion/redirect/00</payssion_redirect>
		</secure_url>
		<routers>
			<payssion>
				<use>standard</use>
				<args>
					<module>Payssion_Payment</module>
					<frontName>payssion</frontName>
				</args>
			</payssion>
		</routers>
		<translate>
			<modules>
				<Payssion_Payment>
					<files>
						<default>Payssion_Payment.csv</default>
					</files>
				</Payssion_Payment>
			</modules>
		</translate>
	</frontend>


	<adminhtml>
		<translate>
			<modules>
				<Payssion_Payment>
					<files>
						<default>Payssion_Payment.csv</default>
					</files>
				</Payssion_Payment>
			</modules>
		</translate>
	</adminhtml>

	<default>
		<payment>
			<payssion>
				<active>0</active>
				<model>payssion/payssion</model>
				<title>payssion.com</title>
			</payssion>
			<payssion_7elevenmy>
				<active>0</active>
				<model>payssion/payssion7elevenmy</model>
				<title>7­eleven Malaysia</title>
			</payssion_7elevenmy>
			<payssion_affinepgmy>
				<active>0</active>
				<model>payssion/payssionaffinepgmy</model>
				<title>Affin Bank</title>
			</payssion_affinepgmy>
			<payssion_ambmy>
				<active>0</active>
				<model>payssion/payssionambmy</model>
				<title>Am Online</title>
			</payssion_ambmy>
			<payssion_atmvaid>
				<active>0</active>
				<model>payssion/payssionatmvaid</model>
				<title>Indonesia ATM Network Transfer Virtual Account</title>
			</payssion_atmvaid>
			<payssion_banamexmx>
				<active>0</active>
				<model>payssion/payssionbanamexmx</model>
				<title>Banamex</title>
			</payssion_banamexmx>
			<payssion_bancodobrasilbr>
				<active>0</active>
				<model>payssion/payssionbancodobrasilbr</model>
				<title>Banco do Brasil</title>
			</payssion_bancodobrasilbr>
			<payssion_bancomermx>
				<active>0</active>
				<model>payssion/payssionbancomermx</model>
				<title>Bancomer(BBVA)</title>
			</payssion_bancomermx>
			<payssion_boletobr>
				<active>0</active>
				<model>payssion/payssionboletobr</model>
				<title>Boleto</title>
			</payssion_boletobr>
			<payssion_bradescobr>
				<active>0</active>
				<model>payssion/payssionbradescobr</model>
				<title>Bradesco</title>
			</payssion_bradescobr>
			<payssion_caixabr>
				<active>0</active>
				<model>payssion/payssioncaixabr</model>
				<title>Caixa Brazil</title>
			</payssion_caixabr>
			<payssion_cashu>
				<active>0</active>
				<model>payssion/payssioncashu</model>
				<title>CashU</title>
			</payssion_cashu>
			<payssion_cherrycredits>
				<active>0</active>
				<model>payssion/payssioncherrycredits</model>
				<title>cherrycredits</title>
			</payssion_cherrycredits>
			<payssion_cimbmy>
				<active>0</active>
				<model>payssion/payssioncimbmy</model>
				<title>CIMB Clicks</title>
			</payssion_cimbmy>
			<payssion_dragonpayph>
				<active>0</active>
				<model>payssion/payssiondragonpayph</model>
				<title>Dragonpay</title>
			</payssion_dragonpayph>
			<payssion_enetssg>
				<active>0</active>
				<model>payssion/payssionenetssg</model>
				<title>eNETS Debit</title>
			</payssion_enetssg>
			<payssion_epaymy>
				<active>0</active>
				<model>payssion/payssionepaymy</model>
				<title>epay</title>
			</payssion_epaymy>
			<payssion_esapaymy>
				<active>0</active>
				<model>payssion/payssionesapaymy</model>
				<title>EsaPAY</title>
			</payssion_esapaymy>
			<payssion_fpxmy>
				<active>0</active>
				<model>payssion/payssionfpxmy</model>
				<title>MyClear FPX</title>
			</payssion_fpxmy>
			<payssion_hlbmy>
				<active>0</active>
				<model>payssion/payssionhlbmy</model>
				<title>Hong Leong Connect</title>
			</payssion_hlbmy>
			<payssion_itaubr>
				<active>0</active>
				<model>payssion/payssionitaubr</model>
				<title>Banco Itaú</title>
			</payssion_itaubr>
			<payssion_maybank2umy>
				<active>0</active>
				<model>payssion/payssionmaybank2umy</model>
				<title>Maybank2u</title>
			</payssion_maybank2umy>
			<payssion_neosurf>
				<active>0</active>
				<model>payssion/payssionneosurf</model>
				<title>neosurf</title>
			</payssion_neosurf>
			<payssion_nganluongvn>
				<active>0</active>
				<model>payssion/payssionnganluongvn</model>
				<title>Nganluong</title>
			</payssion_nganluongvn>
			<payssion_onecard>
				<active>0</active>
				<model>payssion/payssiononecard</model>
				<title>onecard</title>
			</payssion_onecard>
			<payssion_openbucks>
				<active>0</active>
				<model>payssion/payssionopenbucks</model>
				<title>Pay with Gift Cards using Openbucks</title>
			</payssion_openbucks>
			<payssion_oxxomx>
				<active>0</active>
				<model>payssion/payssionoxxomx</model>
				<title>Oxxo</title>
			</payssion_oxxomx>
			<payssion_paysafecard>
				<active>0</active>
				<model>payssion/payssionpaysafecard</model>
				<title>paysafecard</title>
			</payssion_paysafecard>
			<payssion_paysbuyth>
				<active>0</active>
				<model>payssion/payssionpaysbuyth</model>
				<title>Paysbuy</title>
			</payssion_paysbuyth>
			<payssion_molpay>
				<active>0</active>
				<model>payssion/payssionmolpay</model>
				<title>MOLPay</title>
			</payssion_molpay>
			<payssion_poliau>
				<active>0</active>
				<model>payssion/payssionpoliau</model>
				<title>Australia bank transfer</title>
			</payssion_poliau>
			<payssion_polinz>
				<active>0</active>
				<model>payssion/payssionpolinz</model>
				<title>New Zealand bank transfer</title>
			</payssion_polinz>
			<payssion_qiwi>
				<active>0</active>
				<model>payssion/payssionqiwi</model>
				<title>QIWI</title>
			</payssion_qiwi>
			<payssion_yamoney>
				<active>0</active>
				<model>payssion/payssionyamoney</model>
				<title>Yandex.Money</title>
			</payssion_yamoney>
			<payssion_rhbmy>
				<active>0</active>
				<model>payssion/payssionrhbmy</model>
				<title>RHB Now</title>
			</payssion_rhbmy>
			<payssion_santandermx>
				<active>0</active>
				<model>payssion/payssionsantandermx</model>
				<title>Santander Mexico</title>
			</payssion_santandermx>
			<payssion_singpostsg>
				<active>0</active>
				<model>payssion/payssionsingpostsg</model>
				<title>SAM by SingPost</title>
			</payssion_singpostsg>
			<payssion_sofort>
				<active>0</active>
				<model>payssion/payssionsofort</model>
				<title>SOFORT</title>
			</payssion_sofort>
			<payssion_trustpay>
				<active>0</active>
				<model>payssion/payssiontrustpay</model>
				<title>European Bank Transfer</title>
			</payssion_trustpay>
			<payssion_giropayde>
				<active>0</active>
				<model>payssion/payssiongiropayde</model>
				<title>Giropay</title>
			</payssion_giropayde>
			<payssion_idealnl>
				<active>0</active>
				<model>payssion/payssionidealnl</model>
				<title>iDEAL</title>
			</payssion_idealnl>
			<payssion_webcashmy>
				<active>0</active>
				<model>payssion/payssionwebcashmy</model>
				<title>Webcash</title>
			</payssion_webcashmy>
		</payment>
	</default>
</config>
